{% extends "quotes/base.html" %}

{% block content %}

<div class="text-center">
    <div class="form-box">
        <form action="{% url 'users:password_reset' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="titleForm">Password reset</h2>
            <br>
            <div class="form-group">
                <input class="form-control" type="text" name="email" placeholder="Enter your email">
            </div>
            <br>
            <button type="submit" class="btn btn-primary btn">Request password reset</button>
        </form>
    </div>
</div>

<style>
    .form-box {
        width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f7f7f7;
        border: 5px solid #ccc;
        border-radius: 15px;
        background-image: url("https://i.pinimg.com/originals/2d/6a/de/2d6aded61c85e45cee5b1ce692d1ab97.gif");
        background-size: 100% auto;
        background-position: center;
        background-repeat: no-repeat;
    }
/* Медіа-запит для екранів з максимальною шириною 768px */
@media (max-width: 768px) {
    .form-box {
        width: 90%; /* Зменшуємо ширину до 90% від загальної ширини екрану */
        padding: 10px; /* Зменшуємо внутрішній відступ */
        background-size: 140% auto;
        background-position: center;
        background-repeat: no-repeat;
    }
}
</style>
{% endblock %}