<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="{% static 'chat_llm/style.css' %}">
    <link rel="stylesheet" href="https://bootswatch.com/5/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="/static/chat_llm/img/iconX.png">
    <title>doc X chat</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 5px 10px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img src="{% static 'chat_llm/img/Xicon1sec.gif' %}" height="50" alt="logoXgif">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}

                <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
                    <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-black"></div>
                    <hr class="d-lg-none my-2 text-white-50">
                </li>

<!--                <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">-->
<!--                    <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-black"></div>-->
<!--                    <hr class="d-lg-none my-2 text-white-50">-->
<!--                </li>-->
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"-->
<!--                       aria-haspopup="true" aria-expanded="false">LIBRARIES</a>-->
<!--                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">-->
<!--                        <a class="dropdown-item" href="https://getbootstrap.com/" target="_blank">Bootstrap</a>-->
<!--                        <a class="dropdown-item" href="https://docs.djangoproject.com/en/4.2/"-->
<!--                           target="_blank">Django</a>-->
<!--                        <a class="dropdown-item" href="https://bootswatch.com/flatly/"-->
<!--                           target="_blank">Bootswatch</a>-->
<!--                    </div>-->
<!--                </li>-->


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">OUR PROJECTS</a>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="https://xmara.fly.dev/" target="_blank">Xmara (by X-team)</a>
                        <a class="dropdown-item" href="https://quotes-greenjuiced.fly.dev/"
                           target="_blank">Quotes (by Denis Bilokon)</a>
                        <a class="dropdown-item" href="https://sanyavas-django.fly.dev/"
                           target="_blank">Quotes (by Oleksandr Vasylyna)</a>
                    </div>
                </li>
                <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
                    <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-black"></div>
                    <hr class="d-lg-none my-2 text-white-50">
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">X-team GIT</a>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="https://github.com/DenBilokon"
                           target="_blank">Denis Bilokon</a>
                        <a class="dropdown-item" href="https://github.com/Sanyavas"
                           target="_blank">Oleksandr Vasylyna</a>
                        <a class="dropdown-item" href="https://github.com/denzai83"
                           target="_blank">Denis Zaytsev</a>
                        <a class="dropdown-item" href="https://github.com/OleksiiLatypov"
                           target="_blank">Oleksii Latypov</a>
                    </div>
                </li>
                <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
                    <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-black"></div>
                    <hr class="d-lg-none my-2 text-white-50">
                </li>

                <li class="nav-item" style="position: absolute; left: 50%; transform: translateX(-50%);  margin-top: -6px;">
                    <a class="nav-link btn" href="/upload_pdf"
                       style="background-color: #FFFFFF; color: #11999E; border: 2px solid #11999E;
                       padding: 10px 20px; font-size: 18px; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);">START CHAT</a>
                </li>


                {% endif %}
            </ul>

            <ul class="navbar-nav">
                {% if user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="/users_data">User Data</a>
                </li>
                <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
                    <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-black"></div>
                    <hr class="d-lg-none my-2 text-white-50">
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Django Admin</a>
                </li>
                <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
                    <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-black"></div>
                    <hr class="d-lg-none my-2 text-white-50">
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        {{ user.username }}
                        {% if avatar_url %}
                        <img src="{{ avatar_url }}" alt="Avatar" height="50"
                             style="border-radius: 20%; border: 1px solid black;">
                        {% else %}
                        <img src="https://i.pinimg.com/564x/a5/82/9a/a5829ac0d2b9d70943c41c6f48e5acea.jpg"
                             alt="Placeholder" height="40" style="border-radius: 50%;">
                        {% endif %}
                    </a>
                    <div class="dropdown-menu" style="transform: translateX(-20px);">
                        <a class="dropdown-item" href="{% url 'users:profile' %}">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'users:user_plan_subscription' %}">Change Plan</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'users:user_statistic' %}">Personal usage</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'users:logout' %}">Logout</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="btn btn-outline-secondary" href="/users/signup">Sign up</a>
                </li>
                <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
                    <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-black"></div>
                    <hr class="d-lg-none my-2 text-white-50">
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-secondary" href="/users/signin">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<br>


{% block content %} {% endblock %}
<footer class="footer fixed-bottom">
    <div class="container">
        <!--                        <div class="social mb-1">-->
        <!--                            <a href="https://github.com/DenBilokon/doc_X_chat" target="_blank"-->
        <!--                               rel="noopener noreferre">-->
        <!--                                <img src="https://s.dou.ua/assets/img/github.svg" width="25" height="25"></a>-->
        <!--                        </div>-->
        <div class="text-center">
            <span class="big-text" style="font-size: 1.2em;">X</span> <span class="small-text"
                                                                            style="font-size: 0.8em;">TEAM &copy; 2023</span>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.min.js"></script>

</body>
<style>
    body {
    background-image: url("/static/chat_llm/img/allXlogo.gif");
    background-size: 15% auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* ця властивість зафіксує фонове зображення */
}


</style>
<style>
    .nav-link.dropdown-toggle {
        margin-right: 5x; /* Змініть значення за бажанням */
    }


</style>
<style>
    .nav-item {
        margin-right: -1px; /* Відстань між кнопками в навігації */
    }


</style>
</html>