{% extends 'chat_llm/base.html' %}
{% load static %}
{% block content %}


<span style="font-size:30px; cursor:pointer; position:fixed; top:100px; left:10px; z-index:1000;" onclick="toggleNav()">&#9776; Menu</span>

{% with selected_pdf_id=request.POST.selected_pdf|default:"" %}

<div id="mySidenav" class="sidenav">

    <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">&times;</a>
    <div class="text-center">
        <label style="color: white;" for="uploadForm" class="form-label mt-4">Update file:</label>
        <form method="post" enctype="multipart/form-data" action="{% url 'upload_pdf' %}" id="uploadForm">
            {% csrf_token %}
            <!-- Невидимий input для завантаження файлу -->
            <input type="file" name="{{ form.pdf_document.name }}" id="{{ form.pdf_document.auto_id }}"
                   onchange="submitForm();" style="display: none;">
            <!-- Зображення-кнопка -->
            <img src="{% static 'chat_llm/img/upload_file.png' %}" height="50" alt="Upload Image" id="uploadImage"
                 onclick="triggerFileSelect();" style="cursor: pointer;">
        </form>
        <div class="form-group">
            <label style="color: white;" for="sidenav_selected_pdf" class="form-label mt-4">Select file:</label>
            <select class="form-select" id="sidenav_selected_pdf">
                {% for pdf in user_pdfs %}
                <option value="{{ pdf.id }}"
                        {% if pdf.id|stringformat:"s" == selected_pdf_id %}
                selected{% endif %}>{{ pdf.title }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <hr style="color: white;">
    <h6 class="text-center" style="color: white;">Files:</h6>
    <div class="text">
        {% for pdf in user_pdfs %}
        <ul>
            <li style="color: white;">{{ pdf.title }}</li>
        </ul>
        {% endfor %}
    </div>
</div>
<div class="container">
    <div id="main">
        <div class="chat-history-container" id="chat-history-container">
            <div class="chat-history">
                <ul>
                    {% for message in chat_message %}
                    <li>
                        <div class="text-center">
                            <p>{{ message.timestamp }}</p>
                        </div>
                        <div class="container user">
                            {% if avatar_url %}
                            <img src="{{ avatar_url }}" alt="Avatar">
                            {% else %}
                            <img src="https://i.pinimg.com/564x/a5/82/9a/a5829ac0d2b9d70943c41c6f48e5acea.jpg"
                                 alt="Avatar">
                            {% endif %}
                            <p>{{ message.message }}</p>
                        </div>
                        <div class="container darker">
                            <img src="{% static 'chat_llm/img/iconX.png' %}" alt="Avatar" class="right">
                            <p>{{ message.answer }}</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <br><br>
    </div>
    <div id="ask-form">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-box">
                        <form action="{% url 'ask_question' %}" method="post" id="questionForm">
                            {% csrf_token %}
                            <input type="hidden" name="selected_pdf" id="main_selected_pdf">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="btn" type="submit"><img src="{% static 'chat_llm/img/pik.png' %}"
                                                                           alt="Submit"></button>
                                </div>
                                <input class="form-control" type="text" id="textInput" name="user_question">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<style>
    .chat-history-container {
        max-height: calc(100vh - 2.4in);
        overflow-y: auto;
        width: 1000px;
        max-width: 80%;
        left: 50%; /* Відцентрування по горизонталі */
        transform: translateX(-50%); /* Зсув вліво на 50% власної ширини, щоб він центрувався горизонтально */
        height: calc(100vh - 2.4in);
        border: 1px solid #11999E;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.9);
        background-size: cover;
        z-index: 0;
        position: fixed;
        border-radius: 10px; /* Заокруглі кути для сучасного вигляду */
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Тінь для піднятого вигляду */

        /* Кастомна прокрутка */
        scrollbar-width: thin; /* для Firefox */
        scrollbar-color: rgba(155, 155, 155, 0.7) rgba(255, 255, 255, 0.3); /* колір прокрутки та колір трека для Firefox */
    }


    /* Для веб-браузерів на основі WebKit (Chrome, Safari) */
    .chat-history-container::-webkit-scrollbar {
        width: 8px; /* Ширина прокрутки */
    }

    .chat-history-container::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.3); /* Колір трека прокрутки */
    }

    .chat-history-container::-webkit-scrollbar-thumb {
        background-color: rgba(155, 155, 155, 0.7); /* Колір самої прокрутки */
        border-radius: 20px; /* Заокруглені кути на прокрутці */
        border: 3px solid rgba(255, 255, 255, 0.3); /* Отвір по центру прокрутки */
    }


    .chat-history ul {
        list-style-type: none;
        padding: 0;
    }

    .chat-history li {
        margin-bottom: 10px;
    }

    .chat-history li {
        list-style-type: none;
    }

    /* Chat containers */
    .container.user {
        border: 2px solid #dedede;
        background-color: #f1f1f1;
        border-radius: 5px;
        padding: 10px;
        margin: 10px 0;
    }

    /* Darker chat container */
    .darker {
        border-color: #ccc;
        background-color: #ddd;
        border-radius: 5px;
        padding: 10px;
        margin: 10px 0;
    }

    /* Clear floats */
    .container::after {
        content: "";
        clear: both;
        display: table;
    }

    /* Style images */
    .container img {
        float: left;
        max-width: 40px;

        margin-right: 20px;
        border-radius: 20%;
    }

    /* Style the right image */
    .container img.right {
        float: right;
        max-width: 40px;
        margin-left: 20px;
        margin-right:0;
    }

    /* Style time text */
    .time-right {
        float: right;
        color: #aaa;
    }

    /* Style time text */
    .time-left {
        float: left;
        color: #999;
    }
</style>
<style>
    /* Стилі для форми Input */
    .form-box {
        justify-content: flex-start;
        align-items: center;
        padding: 5px 5px; /* Змінено значення padding для зручності */
        background-color: #f5f5f5;
        border: 1px solid #11999E;
        border-radius: 5px;
        width: 1000px;
        max-width: 80%;
        position: fixed;
        bottom: 35px; /* Змінено значення bottom для підняття вище */
        transform: translateX(-50%);
        z-index: 0;
        left: 50%;
    }

</style>

<style>
    .sidenav {
        height: 100%;
        width: 250px; /* Зміна тут */
        position: fixed;
        z-index: 1;
        top:76px;
        left: 0;
        background-color: rgba(7, 7, 7, 0.9); /* 0.9 - це рівень прозорості */
        overflow-x: hidden;
        transition: 0.1s;
        padding-top: 60px;
    }

    .sidenav a {
        padding: 10px 15px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

</style>
<script>
    // Function to close the menu
    function closeMenu() {
        var sidenav = document.getElementById("mySidenav");
        sidenav.style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }

    // Execute the closeMenu function when the page has finished loading
    document.addEventListener("DOMContentLoaded", function() {
        closeMenu();
    });

    // Rest of your existing script...
    // ...

</script>
<!-- JavaScript goes at the end -->
<script>
    function submitForm() {
    // Створюємо новий об'єкт FormData
    let formData = new FormData(document.getElementById("uploadForm"));

    // Виконуємо запит на сервер
    fetch('{% url 'upload_pdf' %}', {
        method: 'POST',
        body: formData,
    })
    .then(response => response.json())  // Перетворюємо відповідь у JSON
    .then(data => {
    if (data.error) {
        // Якщо у відповіді є ключ 'error', покажіть повідомлення користувачеві
        Swal.fire({
            icon: 'error',
            title: 'ERROR',
            text: data.error,
        });
    } else if (data.success) {
        // Обробляємо успішну відповідь (наприклад, перезавантаження сторінки)
        location.reload();
    }
})

    .catch(error => {
        console.error('Помилка:', error);
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: 'Unknown error.Try again',
        });
    });
}



function triggerFileSelect() {
    document.getElementById("{{ form.pdf_document.auto_id }}").click();
}

    function toggleNav() {
     var sidenav = document.getElementById("mySidenav");
     if (sidenav.style.width == "0px" || sidenav.style.width == "") {
         sidenav.style.width = "250px";

         // якщо потрібно щоб елемент змістився як меню вистав px
         document.getElementById("main").style.marginLeft = "0px";
     } else {
         sidenav.style.width = "0";
         document.getElementById("main").style.marginLeft= "0";
     }
 }

    document.getElementById("textInput").addEventListener("focus", function() {
    var selectedPdfValue = document.getElementById("sidenav_selected_pdf").value;
    document.getElementById("main_selected_pdf").value = selectedPdfValue;
});

// форматування часу
function formatTimestamp(timestampStr) {
    const timestamp = new Date(timestampStr);
    const options = {
        month: 'short',
        day: 'numeric',
        year: 'numeric',
        hour: '2-digit',
        minute: '2-digit',
        second: '2-digit',
        hour12: true
    };

    let formatted = new Intl.DateTimeFormat('en-US', options).format(timestamp);

    formatted = formatted.replace(/, (\d{4}),/, ", $1,")
                         .replace(/:\d{2} /, ' ')
                         .replace(" AM", " a.m.")
                         .replace(" PM", " p.m.");

    return formatted;
}

// виводити історію при виборі файлу
document.getElementById("sidenav_selected_pdf").addEventListener("change", function() {
    let selectedPdf = this.value;

    fetch(`/get_chat_history?pdf_id=${selectedPdf}`)
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        const chatHistoryList = document.querySelector(".chat-history");
        chatHistoryList.innerHTML = ""; // Очищуємо поточний список повідомлень

        data.forEach(message => {
            let formattedTimestamp = formatTimestamp(message.timestamp);
            let messageItem = `
                <li>
                    <div class="text-center">
                        <p>${formattedTimestamp}</p>
                    </div>
                    <div class="container user">
                        {% if avatar_url %}
                        <img src="{{ avatar_url }}" alt="Avatar">
                        {% else %}
                        <img src="https://i.pinimg.com/564x/a5/82/9a/a5829ac0d2b9d70943c41c6f48e5acea.jpg" alt="Avatar">
                        {% endif %}
                        <p>${message.message}</p>
                    </div>
                    <div class="container darker">
                        <img src="{% static 'chat_llm/img/iconX.png' %}" alt="Avatar" class="right">
                        <p>${message.answer}</p>
                    </div>
                </li>
            `;
            chatHistoryList.innerHTML += messageItem;
        });
    })
    .catch(error => {
        console.error('There was a problem with the fetch operation:', error.message);
        // Додайте повідомлення про помилку для користувача, якщо це необхідно.
        // Наприклад: alert('Sorry, there was a problem loading the chat history.');
    });
});
</script>
<script>
    // повідомлення зникає через 5 сек
    setTimeout(function(){
        var alerts = document.querySelectorAll(".alert");
        alerts.forEach(function(alert){
            alert.style.display = "none";
        });
    }, 5000);
</script>
<script>
    document.getElementById("questionForm").addEventListener("submit", function(event) {
    var textInput = document.getElementById("textInput").value.trim();

    if (!textInput) {
        event.preventDefault();
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Please enter a message before sending.',
            confirmButtonColor: '#3085d6',
        });
    }
// ############################  ВИДАЛИТИ ЩОБ НАДСИЛАТИ ПОВІДОМЛЕННЯ  ####################################
    if (textInput) {
        event.preventDefault();
        Swal.fire({
        icon: 'error',
        title: 'Вибачте...',
        text: 'Наразі чат тимчасово недоступний через обмежені ресурси на безкоштовному Fly.io. Ми ведемо роботу над вирішенням цього питання для покращення обслуговування. Ви можете слідкувати за оновленнями та перевіряти стан чату на нашому [GitHub репозиторії](https://github.com/DenBilokon/doc_X_chat), де доступний вихідний код. Дякуємо за розуміння!',
        confirmButtonColor: '#3085d6',
    });
    }
// ######################################################################################################
});

</script>

<script>
    // Отримуємо посилання на елемент контейнера
    var chatHistoryContainer = document.getElementById("chat-history-container");
    // Прокручуємо контейнер до нижнього краю
    chatHistoryContainer.scrollTop = chatHistoryContainer.scrollHeight;
</script>

{% endwith %}

{% endblock %}