{% extends 'chat_llm/base.html' %}
{% load static %}
{% block content %}


<span style="font-size:30px; cursor:pointer; position:fixed; top:100px; left:10px; z-index:1000;" onclick="toggleNav()">&#9776; Menu</span>

{% with selected_pdf_id=request.POST.selected_pdf|default:"" %}

<div id="mySidenav" class="sidenav">

    <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">&times;</a>
    <div class="text-center">
        <label style="color: white;" for="uploadForm" class="form-label mt-4">Update file:</label>
        <form method="post" enctype="multipart/form-data" action="{% url 'upload_pdf' %}" id="uploadForm">
            {% csrf_token %}
            <!-- Невидимий input для завантаження файлу -->
            <input type="file" name="{{ form.pdf_document.name }}" id="{{ form.pdf_document.auto_id }}"
                   onchange="submitForm();" style="display: none;">
            <!-- Зображення-кнопка -->
            <img src="{% static 'chat_llm/img/upload_file.png' %}" height="50" alt="Upload Image" id="uploadImage"
                 onclick="triggerFileSelect();" style="cursor: pointer;">
        </form>
        <div class="form-group">
            <label style="color: white;" for="sidenav_selected_pdf" class="form-label mt-4">Select file:</label>
            <select class="form-select" id="sidenav_selected_pdf">
                {% for pdf in user_pdfs %}
                <option value="{{ pdf.id }}" {% if pdf.id|stringformat:"s" == selected_pdf_id %}selected{% endif %}>{{ pdf.title }}</option>

                {% endfor %}
            </select>
        </div>
    </div>
    <hr style="color: white;">
    <h6 class="text-center" style="color: white;">Files:</h6>
    <div class="text">
        {% for pdf in user_pdfs %}
        <ul>
            <li style="color: white;">{{ pdf.title }}</li>
        </ul>
        {% endfor %}
    </div>
</div>
<!-- Повідомлення та помилки -->
{% if form.errors %}
<div class="alert alert-danger" role="alert">
    {{form.non_field_errors}}
    {{form.username.errors}}
    {{form.password.errors}}
</div>
{% endif %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
{% endfor %}

<div class="container">
    <div id="main">
        <div class="chat-history-container" id="chat-history-container">
            <div class="chat-history">
                <ul>

                    {% for message in chat_message %}

                    <li>
                        <div class="text-center">

                            <p>{{ message.timestamp }}</p>
                        </div>

                        <div class="container user">
                            <img src="{{ avatar_url }}" alt="Avatar">
                            <p>{{ message.message }}</p>
                        </div>

                        <div class="container darker">
                            <img src="{% static 'chat_llm/img/iconX.png' %}" alt="Avatar" class="right">
                            <p>{{ message.answer }}</p>
                        </div>
                    </li>
                    {% endfor %}

                </ul>
            </div>
        </div>

        <br><br>
    </div>
    <div id="ask-form">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-box">
                        <form action="{% url 'ask_question' %}" method="post" id="questionForm">
                            {% csrf_token %}
                            <input type="hidden" name="selected_pdf" id="main_selected_pdf">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="btn" type="submit"><img src="{% static 'chat_llm/img/pik.png' %}"
                                                                           alt="Submit"></button>
                                </div>
                                <input class="form-control" type="text" id="textInput" name="user_question">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<style>
    .chat-history-container {
    padding: 20px;
    /* ... (інші стилі, які ви вже маєте) */
}
.chat-history li {
    list-style-type: none;
}

    /* Chat containers */
.container.user {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

    /* Darker chat container */
    .darker {
        border-color: #ccc;
        background-color: #ddd;
        border-radius: 5px;
        padding: 10px;
        margin: 10px 0;
    }

    /* Clear floats */
    .container::after {
        content: "";
        clear: both;
        display: table;
    }

    /* Style images */
    .container img {
        float: left;
        max-width: 40px;

        margin-right: 20px;
        border-radius: 20%;
    }

    /* Style the right image */
    .container img.right {
        float: right;
        max-width: 40px;
        margin-left: 20px;
        margin-right:0;
    }

    /* Style time text */
    .time-right {
        float: right;
        color: #aaa;
    }

    /* Style time text */
    .time-left {
        float: left;
        color: #999;
    }
</style>
<style>
    /* Стилі для форми, яка прикріплена до низу */

    #ask-form {
    position: fixed;
    bottom: 0;
    left: 50%;  /* Відцентрування по горизонталі */
    transform: translateX(-50%);  /* Зсув вліво на 50% власної ширини, щоб він центрувався горизонтально */
    z-index: 1000;
    padding: 50px;
    width: 1100px;
}

.form-box {
    justify-content: flex-start;
    align-items: center;
    padding: 5px 5px;
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    width: 100%;
    max-width: 1100px;

}

    .form-box .form-control {
        width: 100%;
        padding: 8px 15px;
        margin-left: 0px;
        border-radius: 5px;
    }

    /* Кнопка справа від поля вводу */

    .input-group {
        position: relative;
        width: 100%;
        max-width: 1000px; /* Збільшена довжина поля вводу */
    }

    .input-group-prepend {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
    }

    .btn {
        margin-left: 10px; /* Змінено з margin-right на margin-left */
    }

    .form-control {
        padding-right: 20px; /* Додаємо відступ справа для текстового поля, замість відступу зліва */
    }

    /* Стилі для зображення в кнопці */

    .input-group img {
        max-height: 20px;
    }

</style>

<style>

    .sidenav {
    height: 100%;
    width: 250px; /* Зміна тут */
    position: fixed;
    z-index: 1;
    top: 98px;
    left: 0;
    background-color: rgba(7, 7, 7, 0.9); /* 0.9 - це рівень прозорості */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}


.sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

</style>

<style>

    .chat-history-container {
        max-height: calc(100vh - 2.7in); /* Встановлюємо максимальну висоту з урахуванням 3 см від низу */
        overflow-y: auto; /* Додаємо прокрутку, якщо контент перевищує максимальну висоту */
        width: 1500px;  /* встановіть потрібний відсоток або пікселі */
        max-width: 800px;  /* якщо потрібно, можна також встановити максимальну ширину */
        overflow-y: scroll; /* Увімкніть вертикальну прокрутку, коли вміст перевищує висоту контейнера */
        border: 1px solid rgba(0, 0, 0, 0.2); /* Встановіть рамку з прозорістю (rgba) */
        padding: 10px; /* Опціонально: додайте відступ для відокремлення */
        background-color: rgba(255, 255, 255, 0.9); /* 0.9 - це рівень прозорості фону */
        background-size: cover; /* Опціонально: встановіть розмір фону */
        z-index: 0;
        margin-left: 250px;
        position: fixed;
    }

    .chat-history ul {
        list-style-type: none;
        padding: 0;
    }

    .chat-history li {
        margin-bottom: 10px;
    }
</style>
<!-- JavaScript goes at the end -->
<script>
    function submitForm() {
    // Створюємо новий об'єкт FormData
    let formData = new FormData(document.getElementById("uploadForm"));

    // Виконуємо запит на сервер
    fetch('{% url 'upload_pdf' %}', {
        method: 'POST',
        body: formData,
    })
    .then(response => response.json())  // Перетворюємо відповідь у JSON
    .then(data => {
        if (data.error) {
            // Якщо у відповіді є ключ 'error', покажіть повідомлення користувачеві
            Swal.fire({
                icon: 'error',
                title: 'Помилка',
                text: data.error,
            });
        } else {
            // Обробляємо успішну відповідь (наприклад, перезавантаження сторінки або показування підтвердження)
            location.reload();
        }
    })
    .catch(error => {
        console.error('Помилка:', error);
        Swal.fire({
            icon: 'error',
            title: 'Помилка',
            text: 'Виникла невідома помилка. Спробуйте ще раз.',
        });
    });
}



function triggerFileSelect() {
    document.getElementById("{{ form.pdf_document.auto_id }}").click();
}

    function toggleNav() {
     var sidenav = document.getElementById("mySidenav");
     if (sidenav.style.width == "0px" || sidenav.style.width == "") {
         sidenav.style.width = "250px";

         // якщо потрібно щоб елемент змістився як меню вистав px
         document.getElementById("main").style.marginLeft = "0px";
     } else {
         sidenav.style.width = "0";
         document.getElementById("main").style.marginLeft= "0";
     }
 }

    document.getElementById("textInput").addEventListener("focus", function() {
    var selectedPdfValue = document.getElementById("sidenav_selected_pdf").value;
    document.getElementById("main_selected_pdf").value = selectedPdfValue;
});

// форматування часу
function formatTimestamp(timestampStr) {
    const timestamp = new Date(timestampStr);
    const options = {
        month: 'short',
        day: 'numeric',
        year: 'numeric',
        hour: '2-digit',
        minute: '2-digit',
        second: '2-digit',
        hour12: true
    };

    let formatted = new Intl.DateTimeFormat('en-US', options).format(timestamp);

    formatted = formatted.replace(/, (\d{4}),/, ", $1,")
                         .replace(/:\d{2} /, ' ')
                         .replace(" AM", " a.m.")
                         .replace(" PM", " p.m.");

    return formatted;
}

// виводити історію при виборі файлу
document.getElementById("sidenav_selected_pdf").addEventListener("change", function() {
    let selectedPdf = this.value;

    fetch(`/get_chat_history?pdf_id=${selectedPdf}`)
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        const chatHistoryList = document.querySelector(".chat-history");
        chatHistoryList.innerHTML = ""; // Очищуємо поточний список повідомлень

        data.forEach(message => {
            let formattedTimestamp = formatTimestamp(message.timestamp);
            let messageItem = `
                <li>
                    <div class="text-center">
                        <p>${formattedTimestamp}</p>
                    </div>
                    <div class="container user">
                        <img src="{{ avatar_url }}" alt="Avatar">
                        <p>${message.message}</p>
                    </div>
                    <div class="container darker">
                        <img src="{% static 'chat_llm/img/iconX.png' %}" alt="Avatar" class="right">
                        <p>${message.answer}</p>
                    </div>
                </li>
            `;
            chatHistoryList.innerHTML += messageItem;
        });
    })
    .catch(error => {
        console.error('There was a problem with the fetch operation:', error.message);
        // Додайте повідомлення про помилку для користувача, якщо це необхідно.
        // Наприклад: alert('Sorry, there was a problem loading the chat history.');
    });
});
</script>
<script>
    // повідомлення зникає через 5 сек
    setTimeout(function(){
        var alerts = document.querySelectorAll(".alert");
        alerts.forEach(function(alert){
            alert.style.display = "none";
        });
    }, 5000);
</script>
<script>
    document.getElementById("questionForm").addEventListener("submit", function(event) {
    var textInput = document.getElementById("textInput").value.trim();

    if (!textInput) {
        event.preventDefault();
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Please enter a message before sending.',
            confirmButtonColor: '#3085d6',
        });
    }
});

</script>
<script>
    // Отримуємо посилання на елемент контейнера
    var chatHistoryContainer = document.getElementById("chat-history-container");
    // Прокручуємо контейнер до нижнього краю
    chatHistoryContainer.scrollTop = chatHistoryContainer.scrollHeight;
</script>

{% endwith %}

{% endblock %}