{% extends 'chat_llm/base.html' %}
{% load static %}
{% block content %}


<span style="font-size:30px;cursor:pointer" onclick="toggleNav()">&#9776; Menu</span>

{% with selected_pdf_id=request.POST.selected_pdf|default:"" %} <!-- додаємо цей рядок тут -->

<div id="mySidenav" class="sidenav">
    <!-- Повідомлення та помилки -->
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        {{form.non_field_errors}}
        {{form.username.errors}}
        {{form.password.errors}}
    </div>
    {% endif %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
    {% endfor %}
    <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">&times;</a>
    <div class="text-center">
        <label style="color: white;" for="uploadForm" class="form-label mt-4">Update file:</label>
        <form method="post" enctype="multipart/form-data" action="{% url 'upload_pdf' %}" id="uploadForm">
            {% csrf_token %}
            <!-- Невидимий input для завантаження файлу -->
            <input type="file" name="{{ form.pdf_document.name }}" id="{{ form.pdf_document.auto_id }}"
                   onchange="submitForm();" style="display: none;">
            <!-- Зображення-кнопка -->
            <img src="{% static 'chat_llm/img/upload_file.png' %}" height="50" alt="Upload Image" id="uploadImage"
                 onclick="triggerFileSelect();" style="cursor: pointer;">
        </form>
        <div class="form-group">
            <label style="color: white;" for="sidenav_selected_pdf" class="form-label mt-4">Select file:</label>
            <select class="form-select" id="sidenav_selected_pdf">
                {% for pdf in user_pdfs %}
                <option value="{{ pdf.id }}"
                        {% if pdf.id|stringformat:
                "s" == selected_pdf_id %}
                selected
                >{{ pdf.title }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <hr style="color: white;">
    <h6 class="text-center" style="color: white;">Files:</h6>
    <div class="text">
        {% for pdf in user_pdfs %}
        <ul>
            <li style="color: white;">{{ pdf.title }}</li>
        </ul>
        {% endfor %}
    </div>
</div>


<!--<div class="container chat">-->
<!--    <div id="main">-->

<!--        <div class="chat-history-container" id="chat-history-container">-->
<!--            <div class="chat-history">-->
<!--                <ul>-->
<!--                    {% for message in chat_message %}-->
<!--                    <li>-->
<!--                        <center><small>{{ message.timestamp }}</small></center>-->
<!--                        <br>-->
<!--                        <strong>You:</strong> {{ message.message }}<br><br>-->
<!--                        <strong>Bot:</strong> {{ message.answer }}<br>-->
<!--                    </li>-->
<!--                    {% endfor %}-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div class="container chat">
    <div id="main">
        <div class="chat-history">
                <ul>
                    {% for message in chat_message %}
                    <li>
                        <center><small>{{ message.timestamp }}</small></center>
                        <br>
                        <strong>You:</strong> {{ message.message }}<br><br>
                        <strong>Bot:</strong> {{ message.answer }}<br>
                    </li>
                    {% endfor %}
                </ul>
            </div>
    </div>
</div>
<div class="container ask">
    <div id="ask_form">
        <div class="container bottom-form-container"> <!-- додано клас fixed-bottom -->
            <div class="row">
                <div class="col-9">
                    <div class="form-box">
                        <form action="{% url 'ask_question' %}" method="post" class="form-inline">
                            {% csrf_token %}
                            <div class="form-group row w-100">
                                <label for="textInput" class="col-md-3 col-form-label mt-4"></label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <!-- використовуємо input-group для комбіновання текстового поля і картинки -->
                                        <input class="form-control" type="text" id="textInput" name="user_question">
                                        <!-- Цей прихований елемент буде використовуватися для передачі вибраного PDF -->
                                        <input type="hidden" name="selected_pdf" id="main_selected_pdf">
                                        <div class="input-group-append ml-auto">
                                            <button type="submit" class="btn"> <!-- перетворюємо картинку на кнопку -->
                                                <img src="https://i.pinimg.com/originals/60/b6/40/60b6403f7192e21afc0f3194b92df572.jpg"
                                                     alt="Submit"
                                                     style="width: 50px; height: 50px; border-radius: 50%;">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- JavaScript goes at the end -->
<script>
    function submitForm() {
    document.getElementById("uploadForm").submit();
}

function triggerFileSelect() {
    document.getElementById("{{ form.pdf_document.auto_id }}").click();
}

    function toggleNav() {
     var sidenav = document.getElementById("mySidenav");
     if (sidenav.style.width == "0px" || sidenav.style.width == "") {
         sidenav.style.width = "250px";
         document.getElementById("main").style.marginLeft = "250px";
     } else {
         sidenav.style.width = "0";
         document.getElementById("main").style.marginLeft= "0";
     }
 }

    document.getElementById("textInput").addEventListener("focus", function() {
    var selectedPdfValue = document.getElementById("sidenav_selected_pdf").value;
    document.getElementById("main_selected_pdf").value = selectedPdfValue;
});


document.getElementById("sidenav_selected_pdf").addEventListener("change", function() {
    let selectedPdf = this.value;

    fetch(`/get_chat_history?pdf_id=${selectedPdf}`)
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        const chatHistoryList = document.querySelector(".chat-history ul");
        chatHistoryList.innerHTML = ""; // Очищуємо поточний список повідомлень

        data.forEach(message => {
            let messageItem = `
                <li>
                    <center><small>${message.timestamp}</small></center>
                    <br>
                    <strong>You:</strong> ${message.message}<br><br>
                    <strong>Bot:</strong> ${message.answer}<br>
                </li>
            `;
            chatHistoryList.innerHTML += messageItem;
        });
    })
    .catch(error => {
        console.error('There was a problem with the fetch operation:', error.message);
        // Додайте повідомлення про помилку для користувача, якщо це необхідно.
        // Наприклад: alert('Sorry, there was a problem loading the chat history.');
    });
});


</script>
<script>
    // Отримуємо посилання на елемент контейнера
    var chatHistoryContainer = document.getElementById("chat-history-container");

    // Прокручуємо контейнер до нижнього краю
    chatHistoryContainer.scrollTop = chatHistoryContainer.scrollHeight;
</script>
<script>
    // повідомлення зникає через 5 сек
    setTimeout(function(){
        var alerts = document.querySelectorAll(".alert");
        alerts.forEach(function(alert){
            alert.style.display = "none";
        });
    }, 5000);
</script>

<style>
    #main {
    margin-left: 250px; /* Додаємо цей рядок */
}
    .sidenav {
    height: 100%;
    width: 250px; /* Зміна тут */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(7, 7, 7, 0.9); /* 0.9 - це рівень прозорості */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}


.sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

</style>
<style>
    .ask-form {
    position: fixed;
    bottom: 10px;  /* відступ від низу, можна змінити на потрібне вам значення */
    left: 0;
    right: 0;
    z-index: 1000;  /* щоб впевнитися, що форма завжди зверху */
    /* інші потрібні вам стилі */
}
</style>

<style>
    .container.chat {
    width: 60%;
    margin: 0 auto;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
}

.chat-history-container {
    border: 1px solid #d9d9d9;
    overflow: auto;
    max-height: 500px;
    padding: 20px;
    border-radius: 8px;
}

.chat-history ul {
    list-style-type: none;
    padding: 0;
}

.chat-history li {
    padding: 10px 0;
}

.chat-history li:after {
    content: "";
    display: table;
    clear: both;
}

strong {
    display: block;
    margin-bottom: 5px;
}

strong.You {
    float: left;
    background-color: #b2ffb2;  /* light green */
    padding: 10px;
    border-radius: 8px;
    margin-right: 20px;
}

strong.Bot {
    float: right;
    background-color: #ffb2b2;  /* light red */
    padding: 10px;
    border-radius: 8px;
    margin-left: 20px;
}

small {
    display: block;
    text-align: center;
    color: #777;
    margin-bottom: 10px;
}
</style>

{% endwith %} <!-- закриваємо with блок тут -->

{% endblock %}